* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/* header */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.849);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo {
  color: rgb(0, 0, 0);
}
main {
  padding-top: 13vh;
}

.navlinks ul {
  list-style: none;
  display: flex;
  gap: 32px;
  padding-right: 50px;
}
.navlinks a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 18px;
}

.logo:hover {
  cursor: pointer;
}
.navlinks a:hover {
  color: rgb(150, 115, 2);
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

/* hero */
.hero {
  width: 100%;
  height: 86vh; /* height = 100vh - header height */
  box-sizing: border-box;

  /* Background settings */
  background: url(img/hero/hero_section.png) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-desc {
  color: white;
  line-height: 35px;
  text-align: center; /* centers text and button */
  display: flex;
  flex-direction: column;
  align-items: center; /* centers button horizontally */
}

.hero-desc h2 {
  font-weight: 900;
  font-size: 38px;
}

.hero-desc p {
  font-weight: 300;
  font-size: 23px;
}

.hero-desc button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: #194d81;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.hero-desc button:hover {
  cursor: pointer;
  color: rgb(255, 174, 0);
}
